@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 30px 0;
}
.colored{
    color: #6415FF;
}
/* -------------------------------------------------------------- */
.nav_container{
    display: flex;
    justify-content: space-between;
  
}
.nav_logo--img{
    width: 40px;
    height: 40px;
    margin: 0 12px 0 0;
}
.nav_logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    color: #243E63;
    font-weight: 900;
    padding-bottom: 4px;
    margin: 0 24px 0 0;
}
.nav_logo:hover{
    color: #6415FF ;
}
.nav_links{
    display: flex;
    align-items: center;
    list-style-type: none;
    border-bottom: 2px;
}
.nav_links .nav_link:hover{
    text-decoration: underline;
    color:  #6415FF;
}
.nav_link{
    margin: 0 24px;
    text-decoration: none;
    padding-bottom: 4px;
    color: #243E63;
    font-weight: 600;
}

.nav_link--styledprimary{
    background-color: #6415FF;
    padding: 12px 32px;
    border-radius: 30px;
    cursor: pointer;
    color: white;
}
.nav_link--styledprimary:hover{
    background-color: #255496;
}
/* --------------------------------------------------------------------- */

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 92px 0;
    
}
.header_desricption{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.header_title{
    font-size: 48px;
}
.header_para{
    font-size: 18px;
    line-height: 1.5;
    margin: 32px 0;
}
.input_btn{
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 50px;
    border: 2px solid grey;
    overflow: hidden;
}
input{
    border: none;
    background-color: transparent;
    padding: 20px 30px;
    font-size: 18px;
}
button{
    border: none;
    background-color: #6415FF;
    border-radius: 50px;
    margin: 8px 8px 8px 0;
    color: #ffffff;
    padding: 16px;
    font-size: 16px;
}
.customers_title{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    opacity: 0.5;
}
.customers_title--para{
    font-size: 18px;
    font-weight: 600;
}.logo_strip{
    width: 100%;
    padding-right: 128px;
    margin-top: 16px;
}
.home_img{
   width: 100%;
   max-width: 700px;
}

/* ------------------------------------------------------------------- */
.features_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
h5{
    font: 700;
    font-size: 16px;
    margin-bottom: 16px;
}
h2{
    font-size: 48px;
    font-weight: 900;
}
.features_para{
    font-size: 18px;
    text-align: center;
    max-width: 36rem;
    margin-top: 16px;
    font-weight: 500;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgb(124 139 161 / var(--tw-text-opacity));
}
.features{
    display: flex;
   flex-wrap: wrap;
   width: 100%;
   margin-top: 32px;
    
}
.features_subtitle{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 16px;
    padding: 32px 8px;
    width: 30.5%;
    
}
.img_container{
    border: 1px solid #25549667;
    padding: 20px;
    border-radius: 50px;
    align-items: center;
    
}
.text_container{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}
.features_description--title{
    font-weight: 600;
    font-size: 16px;
}
.features_description--para{
    margin-top: 16px;
    width: 80%;
    line-height: 1.6;
}
.container{
    padding: 92px 0;
}
.qty_work--container{
    width: 50%;
}
.home_img--hero{
    width: 100%;
    max-width: 500px;
}
.btn_qty-work{
    border: none;
    background-color: #6415FF;
    border-radius: 50px;
    margin: 8px 8px 8px 0;
    color: #ffffff;
    padding: 16px;
    font-size: 16px;
    margin-top: 32px;
}
.qty_work-para{
    font-size: 18px;
    max-width: 36rem;
    margin-top: 16px;
    font-weight: 500;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgb(124 139 161 / var(--tw-text-opacity));
}
/* ---------------------------------------------------------------------- */
.steps_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 92px 0;
   
}
.steps{
    width: 100%;
    max-width: 500px;
}
.steps_title{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}